
.flex {
    display: flex;
    gap: var(--flex-gap);
}

.x-flex {
    flex-direction: row;
    gap: var(--x-flex-gap);
}

.x-flex > div:first-child {
    min-width: 100px;
    text-align: right;
}

.y-flex {
    flex-direction: column;
    gap: var(--y-flex-gap);
}

input.input {
    box-sizing: border-box;
    display: block;
    padding: 10px;
    min-width: 600px;
    width: 100%;
    font-size: 20px;
}

div {
    word-wrap: anywhere;
}

section h2.clickable {
    cursor: pointer;
}
