:root {
  --flex-gap: 20px;
  --x-flex-gap: 20px;
  --y-flex-gap: 10px;
  --bgcolor: white;
  --fgcolor: black;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 90vw;
  min-width: 900px;
  margin: 10vh auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--bgcolor);
    color: var(--fgcolor);
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root{
    --bgcolor: black;
    --fgcolor: white;
  }
  body {
    background-color: var(--bgcolor);
    color: var(--fgcolor);
  }
  input {
    background-color: var(--bgcolor);
    color: var(--fgcolor);
    border-color: var(--fgcolor);
  }
}
